<form (submit)="onAddTodo($event)">
  <label>
    <input name="toDoList" [(ngModel)]="toDoList"/>
  </label>
  <button type="submit" class="button">Add</button>
</form>


<app-todo *ngFor="let key of task; let i = index"
[toDoList]="key.toDoList"
(delete)="onDeleteTask(i)"
(inputChange)="changeTask(i, $event)"
></app-todo>
