<div class="todo">
  <label>
    <input name="toDoList" (input)="OnToDoInput($event)" [value]="toDoList"
           class="input"
           (focus)=""
           [style]="{borderBottom: '1px solid red'}"
    />
  </label>
  <button [value]="toDoList" (click)="OnDeleteClick()" class="button">Delete</button>
</div>

